.wrapper {
    margin-top: 10px;
    color: var(--titleColor);
    font-size: 40px;
    text-align: center;
    text-emphasis: bold;
  }
  
  @media only screen and (max-width: 600px) {
    .title {
      width: 100%;
      text-align: center;
    }
  }
  